*, *:after , *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    margin: 0;
    padding:0;
    overflow: hidden;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
/*---------main menu------------*/
.container {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
    
}
.container .sidebar {
    width: 240px;
    height: 100%;
    position: absolute;
    left:-240px;
    background: #f4f5f7;
    padding-left: 20px;
}
#search {
    height:20px;
    position:relative;
    background: #e2dcdc;
    margin: 40px 40px 40px 0px;
    font: 12px;    
}

.sidebar h3{
    border-bottom: solid 3px #f56a6a;
    display: inline-block;
}
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li a {
    padding: 15px 15px 15px 0px;
    font-size: 18px;
    color: #474e53;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #e2dcdc;
    transition: background 0.5s ease-in-out;
}
.sidebar ul li:hover a{
    color: red;
}
/*---------end of main menu------------*/

/*---------main part of page------------*/
.main-content {
    width: 100%;
    height: 100%;
    padding: 10px 60px 10px 10px;
    position: relative;
}

.whole .content{
    padding-left : 60px;
 }

 /*------oblast sa hamburger menijem----------*/
.area{
    position: absolute;
    width: 50px:
    left:0;
    top:0;
 }
 /*------end----------*/

.main-content .header{
    height: 110px;
    margin-left: 60px;
    padding-top: 70px;
    border-bottom: 5px solid #ff606d;
 }


 .main-content .sidebar-toggle {
    background: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    float:left;
    position: relative;
}


.sidebar-toggle .bar {
    display: block;
    background: #ff606d;
    width: 30px;
    margin-bottom: 4px;
    height:4px;
    position: relative;
}

.open-sidebar{
 
    left:240px;
}

#whole{  
   display: flex;
   padding: 40px 0px 0px 50px;
 }

#whole .content{
    flex: 0 0 50%;
    line-height: 200%;
}

#whole .content h1{
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-size: 40pt;
    padding-bottom: 40px;
 }

#whole .content p{
    color: grey;
}
#whole .contentsoc{
    flex: 0 0 50%;
    line-height: 200%;
}

#whole .contentsoc h1{
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-size: 40pt;
    padding-bottom: 40px;
 }
#text {
    color: grey;
    display: none;
}

#whole .image{
    margin-left: 70px;
    height: auto;
    max-width: 45%;
    flex: 0 0 50%;
    background-image: url(./images/img1.jpg);
    background-size: cover;
    border-radius: 15px;
}
 /*------postavljanje drugacijih slika na druge strane-----------*/
#whole .image2{
    margin-left: 70px;
    height: auto;
    max-width: 45%;
    flex: 0 0 50%;
    background-image: url(./images/img2.jpg);
    background-size: cover;
    border-radius: 15px;
}
#whole .image3{
    margin-left: 70px;
    height: auto;
    max-width: 45%;
    flex: 0 0 50%;
    background-image: url(./images/img3.jpg);
    background-size: cover;
    border-radius: 15px;
}
 /*------dugme Learn more-----------*/
.btn-container{
  margin: 0;
  height:44px;
  width:166.23px;
}

button{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:#ff606d solid 2px;
  padding:2px 12px 2px 12px;
  border-radius: 10px;
  font-size:15px;
  background:white;
  color:#ff606d;
  font-family:cursive;
  box-sizing:border-box;
}

/*---------social icons-----------*/
.fa {
    padding: 15px ;
    font-size: 200px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 4px 4px;
    border-radius: 80%;
    font-size: 30px;
    }

.fa:hover {
    opacity: 0.9;
    background-color: #ca7d60;
    text-decoration: none;
    }
.fa-instagram {
    background: #4a5058;
    color: white;
    }
.fa-github {
    background:#4a5058;
    color: white;
    }
.fa-facebook {
    background: #4a5058;
    color: white;
    }
.fa-twitter {
    background: #4a5058;
    color: white;
    }                      





/*---------responsive design-----------*/
@media(max-width:1200px) {

  input#query {
    width: 180px; 
      } 

  a.sidebar-toogle {
    width: 15px; 
      } 

  .area {
    width: 20px;
      } 
 
    
 .main-content {
    padding: 10px 10px 10px 20px;
    position: relative;
}

 .main-content .header {
    margin-left: 0px;
    height: 65px;
    padding-top: 40px;
 }

  #whole {
    display: flex; 
    flex-direction: column!important;
    flex-flow: row wrap;
    padding: 0px 0px 0px 0px;
  }
  #whole>.content {
    order: 2;
    align-self: center;
    width: 100%;
  }
  
#whole .content h1{
    font-size: 15pt;
    padding: 0px 0px 10px 0px;
    margin-left: 0px;
    line-height: 20%;
 }
#whole .content p{
    font-size: 9pt;
    padding-right: 5px;
    margin-left: 0px;
    line-height: 200%;
}
 /*------contentsoc je content na str.Contact-----------*/
  #whole>.contentsoc {
    order: 2;
    align-self: center;
    width: 100%;
  }
  
#whole .contentsoc h1{
    font-size: 25pt;
    padding: 0px 0px 10px 0px;
    margin-left: 0px;
    line-height: 20%;
 }

 #whole .image {
    display:block;
    order: 1;
    flex: 0 0 100%;
    align-self: center;
    padding: 0px;
    margin: 30px 0px 0px 0px; 
  }
  /*------postavljanje drugacijih slika na druge strane-----------*/
 #whole .image2 {
    display:block;
    order: 1;
    flex: 0 0 100%;
    align-self: center;
    padding: 0px;
    margin: 30px 0px 0px 0px; 
  }
   #whole .image3 {
    display:block;
    order: 1;
    flex: 0 0 100%;
    align-self: center;
    padding: 0px;
    margin: 30px 0px 0px 0px; 
  }
.image p{ 
   width: 100vw;
   height: 25vh;
   background-size: cover;
}
 /*------postavljanje drugih slika na druge strane-----------*/
.image2 p{ 
   width: 100vw;
   height: 25vh;
   background-size: cover;
}
.image3 p{ 
   width: 100vw;
   height: 25vh;
   background-size: cover;
}

button{
    font-size:9px;

}
#text{
    font-size:9pt;
}

.social { 
    margin-top: 50px;
    margin-bottom: 50px;
 }
}


@media(max-width:530px) {
    .fa {
    padding: 7px ;
    width: 40px;
    height: 40px;
    }
    #whole .contentsoc h1{
    font-size: 15px;
    }

    }